<ul>

    {{#each obj}}
    <li>{{burger}}</li>
    {{/each}}
</ul>

<form action="submit">
    <div class="form-group">
        <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3" id="submit">Submit</button>
</form>